/* Header & Navigation */
header {
  position: relative;
  overflow: hidden;
  min-height: 400px; 
  padding: var(--spacing-sm) var(--spacing-md);
  margin-bottom: var(--spacing-xl);
}

.navigation{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  align-items: center;
}

.navigation h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: bold;
  color: var(--text-color);
  -webkit-text-stroke: 2px white;
  text-shadow: #760909 2px 2px 4px;
  text-align: center;
  margin-top: 30vw;
  z-index: 1;
}

.navigation-left ul {
  display: flex;
  gap: var(--spacing-md);
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-left {
  font-size: var(--font-size-sm);
  position: relative;
  z-index: 1;
}

.navigation-left a {
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid var(--primary-color);
  border-radius: var(--radius-sm);
  background-color: var(--white);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  transition: all 0.3s ease;
}

.navigation-left a:hover {
  color: var(--white);
  border: 1px solid var(--secondary-color);
  background-color: #8a1d1d;
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(171, 13, 13, 0.2);
}

.navigation-right {
  font-size: var(--font-size-sm);
  top: var(--spacing-sm);
  right: var(--spacing-md);
  z-index: 1;
}

.navigation-right ul {
  display: flex;
  gap: var(--spacing-md);
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-right a {
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid var(--primary-color);
  border-radius: var(--radius-sm);
  background-color: var(--white);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  transition: all 0.3s ease;
}

.navigation-right a:hover {
  color: var(--white);
  border: 1px solid var(--secondary-color);
  background-color: #8a1d1d;
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(171, 13, 13, 0.2);
}

.banner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 130%;
  background-size: cover;
  background-position: center;
  opacity: 0.4; 
  z-index: 0;
}
