@import url('common.css');
@import url('header.css');
@import url('menu.css');
@import url('gallery.css');
@import url('footer.css');
@import url('animations.css');
@import url('responsive.css');
@import url('advanced.css');