/* Header & Navigation */
header {
  position: relative;
  overflow: hidden;
  min-height: 400px; 
  padding: 16px 24px;
  margin-bottom: 5vw;
}

.navigation{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  align-items: center;
}

.navigation h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: bold;
  color: var(--text-color);
  -webkit-text-stroke: 2px white;
  text-shadow: #760909 2px 2px 4px;
  text-align: center;
  margin-top: 30vw;
  z-index: 1;
}

.navigation-left ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-left {
  font-size: 10%;
  position: relative;
  z-index: 1;
}

.navigation-left a {
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 20%;
  background-color: white;
  text-decoration: none;
  color: var(--primary-color);
}

.navigation-left a:hover {
  color: #ffffff;
  border: 1px solid var(--secondary-color);
  background-color: #8a1d1d;
}

.navigation-right {
  font-size: 10%;
  top: 16px;
  right: 24px;
  z-index: 1;
}

.navigation-right ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-right a {
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 20%;
  background-color: white;
  text-decoration: none;
  color: var(--primary-color);
}

.navigation-right a:hover {
  color: #ffffff;
  border: 1px solid var(--secondary-color);
  background-color: #8a1d1d;
}

.banner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 130%;
  background-size: cover;
  background-position: center;
  opacity: 0.4; 
  z-index: 0;
}
