*{
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

#to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 1.5% 1%;

  background-color: #ab0d0d;
  color: white;
  border: none;
  border-radius: 20%;
  box-shadow: #560707 0px 3px;

  z-index: 100;
}

/*============ header ============*/

h1{
  font-size: 60px;
  font-weight: extra-bold;
  color: #000000;
  text-align: center;
  -webkit-text-stroke: 2px white;
  text-shadow: #760909 2px 2px 4px;
  position: relative;
  margin-top: 15vw;
  z-index: 1;
}

header {
  position: relative;
  overflow: hidden;
  min-height: 400px; 
  padding: 16px 24px;
  margin-bottom: 5vw;
}

.navigation-left ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-left {
  font-size: 10%;
  position: relative;
  z-index: 1;
}

.navigation-left a {
  padding: 5px;
  border: 1px solid #ab0d0d;
  border-radius: 20%;
  background-color: white;
  text-decoration: none;
  color: #ab0d0d;
}

.navigation-left a:hover {
  color: #ffffff;
  border: 1px solid #560707;
  background-color: #8a1d1d;
}

.navigation-right {
  font-size: 10%;
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 1;
}

.navigation-right ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-right a {
  padding: 5px;
  border: 1px solid #ab0d0d;
  border-radius: 20%;
  background-color: white;
  text-decoration: none;
  color: #ab0d0d;
}

.navigation-right a:hover {
  color: #ffffff;
  border: 1px solid #560707;
  background-color: #8a1d1d;
}

.banner {
  position: absolute;
  inset: 0;   /* top, right, bottom, left : 0 */
  width: 100%;
  height: 130%;
  background-size: cover;
  background-position: center;
  opacity: 0.4; 
  z-index: 0;
}



/*============ main ============*/

h2 {
  font-size: 3vw;
  font-weight: bold;
  color: #ab0d0d;

  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 1.5vw;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 20px;
}

span {
  font-weight: bold;
  color: #ab0d0d;
}

.great-values {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 20px 0 80px 0;

  font-size: 3vw;
  font-weight: bold;
}

.great-values li {
  border: 2px solid #ab0d0d;
  border-radius: 15%;
  padding: 10px 20px;
  box-shadow: #560707 0px 3px;
}

.great-values li:hover {
  background-color: #ab0d0d;
  color: white;
  box-shadow: #260505 0px 3px;
}


/*============ menu ============*/


.menu-category {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 10vw;
  text-align: center;
  position: relative;
}

h3 {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 5vw;
}

.menu-card{
  display: inline-block;
  width: 30%;

  border: 2px solid #ab0d0d;
  border-radius: 15px;
  padding: 10px;
  box-shadow: #560707 0px 3px;
}

.menu-card:hover {
  background-color: #ab0d0d;
  color: white;
  box-shadow: #260505 0px 3px;
}


.menu-card .price{
  font-size: 2vw;
  font-weight: bold;
  margin-top: 10vw;
  margin-bottom: 1vw;
}

.menu-card .New-badge {
  position: absolute;
  background-color: #ab0d0d;
  color: white;
  
  padding: 5px 10px;
  margin: -8px 0 0 -8px;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 12px; 
  z-index: 2;
}

.menu-card .Best-badge {
  position: absolute;
  background-color: #ab0d0d;
  color: white;
  padding: 5px 10px;
  margin: -8px 0 0 -8px;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 12px; 
  z-index: 2;
}



/*============ footer ============*/

footer {
  background-color: #eaa6a6;
  padding: 20px;
  margin-top: 50px;
  font-size: 1.2vw;
  color: #5e0000;
  display: flex;
  justify-content: space-between;  
  /* 첫번째 자식 왼쪽 끝, 마지막 자식 오른쪽 끝 */
  align-items: flex-start; /*상단정렬*/
  gap: 20px;
}